.swiper-card-3 {
  &__line-nav {
    padding-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    @media (max-width: 1200px) {
      padding-top: 20px;
    }
  }
}