.card-decision {
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 52px;
  display: flex;
  gap: 52px;
  border-radius: 20px;
  background-color: var(--black-10, #191919);
  transition: background-color 0.4s ease-in-out;
  @media (max-width: 1200px) {
    flex-direction: column;
    padding: 36px;
    gap: 36px;
  }
  @media (max-width: 1000px) {
    padding: 24px;
    gap: 36px;
    justify-content: space-between;
  }
  &::before {
    content: '';
    position: absolute;
    top: -189px;
    right: -147px;
    z-index: 0;
    width: 283.162px;
    height: 457.394px;
    transform: rotate(135.45deg);
    border-radius: 457.394px;
    background: var(--green, #00CB62);
    filter: blur(250px);
    @media (max-width: 1200px) {
      top: 610px;
      right: 95px;
      transform: rotate(46deg);
    }
    @media (max-width: 1000px) {
      top: 767px;
      right: -105px;
    }
  }
  .top {
    position: relative;
    width: calc(616 / 1260 * 100%);
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
  .bottom {
    display: flex;
    position: relative;
    flex: 1;
  }
  &__title {
    margin-bottom: 12px;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: 1200px) {
      font-size: 26px;
    }
  }
  &__desc {
    margin-bottom: 24px;
    color: var(--white, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.778%;
    
  }

  &__img {
    width: 100%;
    display: flex;
    border-radius: 24px;
    overflow: hidden;
    @media (max-width: 1000px) {
      height: 252px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (max-width: 1000px) {
        max-height: 252px;
      }
    }
  }
}