.link-show-all {
  padding: 5px 24px;
  height: 52px;
  max-width: 100%;
  width: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: var(--white, #FFF);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  gap: 6px;
  border-radius: 14px;
  background-color: var(--black-10, #191919);
  transition: background-color 0.4s ease-in-out;
  @media (max-width: 1000px) {
    width: 100%;
  }
  .svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 1001px) {
    &:focus-visible,&:hover {
      background-color: var(--green);
    }
  }
}