<div class="bx-breadcrumb">
  <div class="container">
    <div class="bx-breadcrumb__list">
      <div class="bx-breadcrumb-item">
        <a href="/">
          <span>Главная страница</span>
        </a>
      </div>
      <div class="bx-breadcrumb-item">
        <a href="#">
          <span>Пресс-центр</span>
        </a>
      </div>
      <div class="bx-breadcrumb-item">
        <a href="#">
          <span>Новости</span>
        </a>
      </div>
      <div class="bx-breadcrumb-item">
        <span>Группа «НЭК» представила продукцию на выставке в Саудовской Аравии</span>
      </div>
    </div>
  </div>
</div>