<div class="bx-breadcrumb">
  <div class="container">
    <div class="bx-breadcrumb__list">
      <div class="bx-breadcrumb-item">
        <a href="/">
          <span>Главная страница</span>
        </a>
      </div>
      <div class="bx-breadcrumb-item">
        <a href="/">
          <span>Пресс-центр</span>
        </a>
      </div>
      <div class="bx-breadcrumb-item">
        <a href="/">
          <span>Фотографии</span>
        </a>
      </div>
      <div class="bx-breadcrumb-item">
        <span>Открытие первой очереди завода по производству огнестойкого турбинного масла в Тульской области</span>
      </div>
    </div>
  </div>
</div>