<div class="page-title">
  <div class="container">
    <div class="top-banner">
      <picture>
        <source srcset="img/top-banner/bg1000.jpg" media="(max-width: 550px)">
        <source srcset="img/top-banner/bg1200.jpg" media="(max-width: 1200px)">
        <img class="top-banner__img" src="img/top-banner/bg.jpg">
      </picture>
      <div class="top-banner__line-link">
        <a href="#" download="#" class="link-download-arrow">
          <span class="text">
            Презентация (27,3 Мб)
          </span>
          <span class="svg">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
              <use xlink:href="img/sprite.svg#linkDownload"></use>
            </svg>
          </span>
        </a>
        <a href="#" download="#" class="link-download-arrow">
          <span class="text">
            Факт-лист (160 Кб)
          </span>
          <span class="svg">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
              <use xlink:href="img/sprite.svg#linkDownload"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="page-title__line">
      <h1 class="page-title__name">@@title</h1>
    </div>
  </div>
</div>