<div class="quote mt-144">
  <div class="container">
    <article class="card-quote">
      <div class="card-quote__top">
        <p>
          Сегодня мы закладываем не просто камень, а основу для будущего отечественного производства КРУЭ. Для нас,
          команды «ЛЗВО», это большая ответственность и возможность внести весомый вклад в развитие российской
          энергетики. Мы настроены на активную работу, создание качественной продукции и развитие компетенций наших
          сотрудников
        </p>
      </div>
      <div class="card-quote__bottom">
        <div class="box-person">
          <span class="profession">Генеральный директор</span>
          <h3 class="box-person__title">Перепеченова Анна Валерьевна</h3>
        </div>
      </div>
      <img src="img/card-quote/person.png" alt="person">
    </article>
  </div>
</div>